.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  width: 100%;
  height: 100%;
  min-width: 1280px;
  min-height: 720px;
  background-color: white;

}

.header{
  font-family: "Segoe UI";
}
.header-logo{
  width: 460px;
  height: 144px;
  position: absolute;
  top: 0;
  left: 0;
}

.header-text{
  font-size: 86px;
  position: absolute;
  left: 460px;
  top: 12px;
}

.returnButton{
  width: 425px;
  height: 69px;
  position: absolute;
  right: 35px;
  top: 44px;
  background-color: #FF424D;
  border-radius: 100px;
  border: 1px solid;
  color: white;
  padding-top: 10px;
  font-size: 35px;
  text-decoration: none;
}
.returnButton:focus{
  background-color: white;
  color: #FF424D;
  border: 1px solid;
}

.content-box{
  width: 92%;
  height: 75%;
  min-width: 1760px;
  min-height: 780px;
  border:  1px solid #707070;
  position: absolute;
  left: 80px;
  top: 237px;
}

.content-box-title {
  font-size: 90px;
  margin-left: 40px;
}

.content-box-pages-grid {
  width: 1569px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
  margin-left: 95px;
}

.content-box-new-page {
  width: 220px;
  height: 254px;
  background-color: rgba(170, 170, 170, 0.42);
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content-box-new-page-plus-wrapper {
  width: 99px;
  height: 99px;
  position: relative;
  margin-top: 20px;
}

.content-box-new-page-plus-line-horizontal {
  width: 99px;
  height: 25px;
  background-color: #707070;
  position: absolute;
  left: 0px;
  top: 37px;
}

.content-box-new-page-plus-line-vertical {
  width: 25px;
  height: 99px;
  background-color: #707070;
  position: absolute;
  left: 37px;
  top: 0px;
}

.content-box-new-page-title {
  width: 199px;
  height: 27px;
  background-color: #B9B9B9;
  margin-top: 32px
}

.content-box-new-page-description {
  margin-top: 5px;
  width: 199px;
  height: 49px;
  background-color: #B9B9B9;
}

.content-box-page {
  width: 220px;
  height: 254px;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 50px;
}

.content-box-page-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(164, 164, 164, 0.62);
  opacity: 0;
  font-size: 63px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box-page-link:hover {
  opacity: 1
}

.content-box-page-image {
  width: 156px;
  height: 121px;
  border: 1px solid black;
  margin-top: 22px;
}

.content-box-page-title {
  width: 199px;
  height: 27px;
  margin-top: 13px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.content-box-page-description {
  margin-top: 7px;
  width: 199px;
  height: 49px;
  text-align: center;
  font-size: 20px;
}

.createPageHeader{
  font-size: 100px;

}

.createPageFields{
  width: 709px;
  height: 480px;
  position: absolute;
  left: 30%;
  top: 200px;

}
.createPageName{
  width: 420px;
  height: 53px;
  font-size: 40px;
  margin-left: 15px;
  margin-top: 50px;
  text-align: left;
}


.createPageNameInput{
  width: 709px;
  height: 53px;
  font-size: 40px;
  padding-left: 20px;
  border: 1px solid;
  border-radius: 180px;
}

.createPageDescription {
  width: 420px;
  height: 53px;
  font-size: 40px;
  margin-left: 15px;
  margin-top: 50px;
  text-align: left;
}

.createPageDescriptionInput {
  font-family: "Segoe UI";
  width: 709px;
  height: 143px;
  font-size: 40px;
  padding-left: 20px;
  border: 1px solid;
  border-radius: 40px;
  word-break: keep-all;
}

.createPageButtons {
  display: flex;
}

.createPageButtonCancel{
  background-color: white;
  color: #FF424D;
  font-size: 50px;
  width: 393px;
  margin-top: 50px;
  text-align: center;
  border-radius: 180px;
  margin-left: 50px;
  text-decoration: none;
  border: 1px solid #FF424D;
}

.createPageButton{
  color: white;
  background-color: #FF424D;
  font-size: 50px;
  width: 393px;
  margin-top: 50px;
  text-align: center;
  border-radius: 180px;
  margin-left: 50px;
  text-decoration: none;
}


.createPageButton:active{
  background-color: white;
  color: #FF424D;
  border: 1px solid #FF424D;
}

.createPageButtonCancel:active {
  background-color: #FF424D;
  color: white;
}

.text {
  font-size: 48px;
  margin-top: 160px;
}